<div class="container"
	 fxLayout="column"
	 fxLayoutGap="10px">

  <div fxFlex>
	<div>
	  <h3>Menu</h3>
	  <hr> <!-- add a horizontal line  -->
	</div>
  </div>

<!-- the md flags turns the ordinary HTML elements into material design elements, 
uniforms formatting i think -->
  
  <div fxFlex>
	<md-grid-list cols="2" rowHeight="200px">
	  <md-grid-tile *ngFor="let dish of dishes">
		<!-- dishes is array defined in menu.component.ts -->
		<!-- for each dish, get the image -->
		<img height="150px" src={{dish.image}} alt={{dish.name}}>
		<md-grid-tile-footer>
		  <h1 md-line> {{ dish.name | uppercase }} </h1>
		</md-grid-tile-footer>
	  </md-grid-tile>
	</md-grid-list>	
  </div>

  <div fxFlex *ngIf="selectedDish">
	<md-card>
	  <!-- header, title and content are just formatting styles of the texts in card -->
	  <md-card-header>
		<md-card-title>
		  <h3>{{ selectedDish.name | uppercase }} </h3>
		</md-card-title>
	  </md-card-header>

	  <img md-card-image src="{{selectedDish.image}}" alt={{selectedDish.name}}>
	  
	  <md-card-content>
		{{selectedDish.description}}
	  </md-card-content>
	  <md-card-actions>
		<button md-button> LIKE </button>
		<button md-button> SHARE </button>
	  </md-card-actions>
	</md-card>
  </div>
 
</div>
